<div class='mt-4'>
  <h2>Đăng khóa học</h2>

  <form method="POST" action="/courses/store">
    <div class='form-group'>
      <label for='name-input'>Mô tả khóa học</label>
      <input
        type='text'
        class='form-control'
        id='name-input'
        name="name"
      />
    </div>

    <div class='form-group'>
      <label for='thumbnail-input'>Hình ảnh</label>
      <input
        type='text'
        class='form-control'
        id='thumbnail-input'
        name="thumbnail"
      />
    </div>

    <div class='form-group'>
      <label for='videoId-input'>Video ID</label>
      <input
        type='text'
        class='form-control'
        id='videoId-input'
        name="videoId"
      />
    </div>

    <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
  </form>
</div>